.card-header
{
    color : rgb(200, 200 ,200);
}
#my-photo
{
    width: 120px;
    height: 160px;
}
.media-body
{
    font-family: 'Hepta Slab', serif;
}
.imgServices
{
    width: 70px;
    height: 70px;
}