header
{
    background: url("../img/default/header.jpg") no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
}

.menu
{
    background: #100A2C;
}

.menuCategories
{
    background: #255a8f;
}

footer
{
    background-color: #100A2C;
}

.icon
{
    width: 50px;
    height: 50px;
}

.logo
{
    height: 50%;
}

.logoIcon
{
    width: 58px;
    height: 28px;
}

