@import "default.css";
@import "home.css";
@import "posts.css";
@import "post.css";
@import "connectionRegister.css";

/*all pages*/
body
{
    background : rgb(200, 200, 200);
    font-family: 'Hepta Slab', serif;
}
a:hover
{
    color : white !important;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Cabin Sketch', cursive;
}



